body{

                background-image: url("background.jpg");
    }
                
            .header{
                     
/*                     background-color: #ffffcc;*/                  
                     margin-top:-.5%;
                     margin-left: 10%;
                     margin-right: 5%;
                     font-size: 150%;
                  }
                  img{
                      height:172px;
                      width: 1081px
                      /*float:left;*/
                      /*margin-right:2%;                      */
                    }
            .header2
             {
                 margin-left: 15%;
                /*padding-top: 2%;*/
                /*padding-bottom: 4%;*/
                 font-size: 101%;
                  
                 font-weight:bold;
                 color:green;
                  
             }   

             /*#clg{
                    padding-top:1%;
                    margin-left: 30%;
                   font-size: 40%;
                   color:black;
                 }*/
                 .bottom{
                     margin-left: 35%;
                     margin-top:3%;
                 }
             #bottom2{
                        margin-left:%;
                        margin-top: 1.2%;
		            	margin-bottom:3%;
                        color:red;
                        font-weight: bold;  
                        font-size: 200%;
                  }

                     td{
                       font-size: 145%;
                       font-weight:bolder;
                      
                  } 
                  
                  .admin_bottom{
                      margin-left: 10%;
                      margin-right: 5%;
                      background-color: palegoldenrod;
                  } 
                 .admin_bottom table td{
                               border-right:2px solid red;
							   
	                          				 
    							 }					 
                  .addstudent_bottom{
                      
                         margin-left: 18%;
                         margin-top: 4%;
                         float: left;
                   
                        }
                  .reg{
                   color: red;
                   font-size: 189%; 
                   margin-left: -14%; 
                   margin-top: 2%;
                  text-decoration-line:underline; 
                  }
                  .stu_right{
                    margin-top: 4%;
                    float: right;
                     margin-right: 24%;   
                      
                  }
                  .addfaculty_bottom{
                      
                         margin-left: 19%;
                         margin-top: 2%;
                         float: left;
                         
                        }
                        .faculty_ac{
                            float: right;
                            margin-right: 24%;
                            margin-top: 3%;
                        }
                        
                        
                        .faculty{
                            margin-left: 10%;
                            background-color: rosybrown;
                            margin-right: 5%;
                            padding-left: 4%;
                        }
                
                  .faculty table td{
                               border-right:2px solid red;
                 
                                     
                   }    
                        .addattendance{
                            margin-left: 42%;
                            margin-top: 8%;
                        }
                        .student_page
                        {   
                           margin-left: 26%;
                            margin-top: 2%;
                        }
                       .tbl table{
                             border:3px solid #009393;
                             border-collapse: collapse;
                        } 
                       .tbl td{
                            
                            border: 1px solid green;
                        } 
                       .tbl th{
                            border-bottom: 3px solid maroon; 
                            border-left:3px solid maroon;
                            border-top: 3px solid maroon;
                        }
                        .view{
                             margin-left: 35%;
                              margin-top: 5%;
                        }
                        .getattendance{
                            
                            margin-left: 26%;
                        }
						a:link
						{
							text-decoration:none;
						}
						h3
						{
							margin-left:25%;
						}
						.removestudent
						{
							margin-left: 1%;
                            margin-top: 3%;
						}
				
						.show
						{
							 margin-left: 3%;
                             margin-top: 2%;
							
						}
                      .addc input
                      {
                         margin-left:4%;
                         margin-bottom:1%;"
                      }
					  
            	
                        
  
.button1{
        font-size: 333%;
        margin-left: 21%;
        margin-top: 5%;
        color: red;
}
.button2{
        font-size: 334%;
    margin-left: 2%;
    width: 19%;
    color: rebeccapurple;
}
.form{
    margin-left: 34%;
}
label {
    display: block;
    margin-bottom:4%;
}
.admin_0{
  margin-left: 42%;
    margin-top: 2%;
    color: navy;
    font-size: 155%;
}
.admin_1 a{
  background-color: mediumturquoise; 
  color: navy; 
}
.admin_1{
  margin-left: 18%;
    margin-top: 1%;
    background: black;
    margin-right: 19%; 
}
#admin_3{
  margin-left: 22%;
      margin-top: 4%;
}
.button3{
        font-size: 334%;
    margin-left: 2%;0
    color: rebeccapurple;
    width: 30%;
    color: red;
}
