{% include "myclass/index.html" %}
<div class="admin_0">Welcome {{ name }}</div>
<div class="admin_1">
	<a href={% url 'registerlist' %}?key={{ name | urlencode }}>Student Registration Request</a>
	<a href={% url 'subject' %}>Add Subjects</a>
	<a href={% url 'addsubject' %}>View Subjects</a>
	<a href={% url 'course' %}>Add Course</a>
	<a href={% url 'teacher' %}?user=student>view Course</a>
	<a href={% url 'teacher' %}>Add Teacher</a>
	<a href={% url 'teacherlist' %}>View Teacher</a>
	<a href={% url 'dashboard' %}>DashBoard</a>
	
</div>