{% include "myclass/admin.html" %}
<style type="text/css">
	table,td, th{
      border: 1px solid black;
      border-collapse: collapse;
      text-align: center;
}
</style>
<div id="admin_3">
<h3>Registered Student</h3>
<form action="{% url 'registerlist' %}/" method="Post">
		{% csrf_token %}
<table>
	<tr>
		<th>Student Name</th>
		<th>Email</th>
		<th>Mobile</th>
		<th>Approve</th>
	</tr>
	{% for i in data %}
	 <tr>
	 	<td>{{i.name}}</td>
	 	<td>{{i.email}}</td>
	 	<td>{{i.mobile}}</td>
	 	<td><input type="checkbox" name="approve" value= {{i.pk}} ></td>
	 </tr>
	{% endfor %}
	{% if data %}
		<tr><td></td><td  colspan="4"><input type="submit" name="pk" value="submit"></td></tr>
	{% endif %}
		
	

</table>
</form>
</div>