{% include 'myclass/admin.html' %}

	<form  action={% url 'course' %} method="Post">
	{% csrf_token %}
	<fieldset style="width: 27%;
    margin-left: 31%;margin-top: 2%;color: green">
	<legend>Add Course</legend>
		<table>
		<tr>
		<td> course name </td><td><input type="text" name="course"></td></tr></table></fieldset>
		<fieldset style="width: 27%;margin-left: 31%;color: green">
	<legend>Select Subjects for course</legend>
		<table>
		
		{% for i in data %}
					<tr><td>{{i.name}}</td><td><input type="checkbox" name="subject" value={{ i.pk }}></td></tr>
					{% endfor %}
	</table></fieldset><input style="margin-left: 41%;
    width: 11%;
    height: 6%;
    margin-top: 1%;" type="submit" name="submit" value="Submit">			
	</form>
