{% include 'myclass/admin.html' %}
<style type="text/css">
	th{
		color: blue;
		cellsp
	}
	tr{
		color: green;
	}
	td{
		text-align: center;
	}


</style>
<div style="    margin-left: 30%;">
	<h1 style="color: red;margin-left: 17%;">Dashboard</h1>
	<table cellspacing="10">
		<tr>
		<th>Total Student</th>
		<th>Pending Student</th>
		<th>Approved Student</th>
		<th>Total Teacher</th>
		<th>Total Course</th>
		</tr>
		<tr>
		<td>{{total}}</td>
		<td>{{pending}}</td>
		<td>{{approved}}</td>
		<td>{{teacher}}</td>
		<td>{{course}}</td>
		</tr>
	</table>

</div>
