{% include "myclass/index.html" %}
<form class="form" action={% url 'signup' %} method="Post">
{% csrf_token %}
<fieldset style="width: 38%;
    height: 38%;
    padding-top: 3%;
    margin-top: 4%;">
<legend style="color:green;">Student Registration</legend>
<!-- <h1>Enter Detail</h1> -->
<label>
Enter Name   <input type="text" name="name" >
</label>
<label>
Enter Email   <input type="email" name="email"><br>
</label>
<label>
<label>
Enter Password   <input type="password" name="password"><br>
</label>
<label>
Enter Mobile <input type="number" name="mobile">
</label>
	<input type="hidden" name="type" value="student">
<input style="margin-left: 19%;
    margin-top: 4%;
    width: 35%;
    color: red;" type="submit" name="data" value="submit">
    </fieldset>
</form>