{% load staticfiles %}
<html>
    <head>
    
        <title>main page</title>
        <link rel="stylesheet" type="text/css" href={% static "myclass/style.css" %}>   
    </head>
    <body>        
        <div class="header">
            <img  src={% static "myclass/school.jpg" %}/>
                <div class="header2">
                    JSS ACADEMY OF TECHNICAL EDUCATION, NOIDA
            </div>
           
        </div>

    </body>
</html>
