{%include "myclass/index.html"%}
<form action={%url "login" %} method="Post">
{% csrf_token %}
<fieldset style="    height: 25%;
    width: 22%;
    margin-left: 31%;
    margin-top: 4%;
    padding-top: 25px;">
<legend>Enter Valid Detail</legend>
	<table>	
		<tr> <td>Email </td><td> <input type="email" name="email">
			</td></tr>	
		<tr><td>Password</td><td> <input type="password" name="password">
		</td></tr>
	</table>	
	<input style="margin-left: 25%;
    margin-top: 4%;width: 31%;
    font-size: 101%;" type="submit" name="submit" value="Login">
</form>