<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
{% include "myclass/index.html" %}
	<a  href={% url 'form' %} ><input class="button1" type="button" name="Register" value="Student Register"></a>
	<a href={% url 'loginform' %}><input class="button2" type="button" name="login" value="Login"></a>
</form>
</bmyclass/ody>
</html>