{% include 'myclass/index.html'%}
<style type="text/css">
	th{
		color: blue;
	}
</style>
<h1 style="    margin-left: 34%;
    color: red;">Courses with subject</h1> 
<table style="margin-top: 2%;
    margin-left: 35%;">
	<tr>
	<th>
		Course Name
	</th>
	<th></th><th></th><th>subjects</th></tr>
	{% for i in data %}
	<tr>
		<td>{{i.name}}</td>
		<td></td><td></td>
		{% for j in i.subject %}
		<td>{{j.name}},</td>
		{% endfor%}
	</tr>
	{% endfor %}
</table>
