{% include 'myclass/admin.html' %}
<form action={% url 'addsubject'%} method="Post">
	{% csrf_token%}	
	<fieldset style="margin-left: 32%;
    margin-top: 2%;
    width: 24%;
    padding-top: 1%;
    padding-bottom: 2%;
    ">
	<legend style="color: Green;">Add Subject</legend>
	Subject Name <input type="text" name="subject"><br>
	<input style="margin-top: 6%;
    margin-left: 25%;" type="submit" name='subj' value="submit">
</form>