{% include 'myclass/admin.html'%}

<table style="border: 1px solid black;margin-left: 33%;
    margin-top: 3%;">
	<tr>
		<th style="border-bottom: 1px solid black;">Subject Name</th>
	</tr>
	{%for i in data %}
	<tr>
		<td>{{ i.name }}</td>
	</tr>
	{%endfor %}
</table>
