{% include 'myclass/index.html'%}
<p style="margin-left: 39%;
    color: midnightblue;
    font-size: 160%;">Welcome {{ name }}</p>
	<a href={% url 'teacher' %}?user=student><input class="button1" type="button" name="course" value="View courses"></a>
	<a href={% url 'teacherlist' %}><input class="button3" type="button" name="teacher" value= "View Teachers"></a>
	