{% include 'myclass/index.html' %}
<style type="text/css">
	th{
		color: blue;
	}
</style>
<div style="    margin-top: 3%;
    margin-left: 13%;">
<h1 style="margin-left: 25%;
    color: red;">Teacher List </h1>
	<table cellspacing="20">
		<tr>
			<th>
				Name
			</th>
			<th>
				Email
			</th>
			<th>mobile</th>
			<th>Designation</th>
			<th>
				Course
			</th><th></th><th></th>
			<th>Subject</th>
		</tr>
		{% for i in data %}
		<tr>
		<td>{{i.name}}</td><td>{{i.email}}</td><td>{{i.mobile}}</td><td>{{i.designation}}</td></td><td
		{% for j in i.course %}
		<td>{{j.name}},</td>
		{%endfor%}<td></td>
		{% for j in i.subject %}
		<td>{{j.name}},</td>
		{%endfor%}
		</tr>
		{% endfor %}
	</table>
</div>