{% include 'myclass/admin.html' %}
<form action={% url 'teacher' %} method="Post">
{% csrf_token %}
<fieldset style="float: left;
    margin-right: 6%;
    margin-top: 0%;
    margin-left: 18%;">
	<legend style="color: green">Teacher Account</legend>
	<table>
		<tr><td>Name</td><td><input type="text" name="tname"></td></tr>
		<tr><td>Mobile</td><td><input type="number" name="mobile"></td></tr>
		<tr><td>Email</td><td><input type="email" name="email"></td></tr>
		<tr><td>Designation</td><td><input type="text" name="designation"></td></tr>
	</table>
</fieldset>
<fieldset style="width: 33%;
        margin-top: 3%;">
	<legend style="color: green">Subject and course of Teacher</legend>
	<table style="float: left;
    margin-right: 10%; border: 1px solid black;
      border-collapse: collapse;
      text-align: center;">
		<tr>
			<th style="border-bottom: 1px solid black;">Course</th><th style="border-bottom: 1px solid black;">Select</th></tr>
			{% for i in course %}
			<tr>
				<td>{{i.name}}</td><td><input type="checkbox" name="course" value={{i.pk}}></td>
			</tr>
			{% endfor %}
	</table>
	<table style="border: 1px solid black;
      border-collapse: collapse;
      text-align: center;">
		<tr>
			<th style="border-bottom: 1px solid black;">Subjects</th><th style="border-bottom: 1px solid black;">Select</th></tr>
			{% for i in sub %}
			<tr>
				<td>{{i.name}}</td><td><input type="checkbox" name="sub" value={{i.pk}}></td>
			</tr>
			{% endfor %}
	</table>
</fieldset>
<input style="    margin-left: 29%;
    width: 10%;
    height: 5%;
    color: red;" type="submit" name="submit" value="Submit">
</form>